.sidebar {
  max-width: 100px;
  min-width: 100px;
  background-color: #42a79e;
  bottom: 0;
  color: #122d2b;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 10;
}
.sidebar.active-sidebar {
  max-width: 250px;
  min-width: 250px;
}
.sidebar.active-sidebar .sidebar-header {
  height: 175px;
}
.sidebar.active-sidebar .sidebar-header img {
  width: 100%;
}
.sidebar.active-sidebar .sidebar-header .corporation-logo {
  display: block;
}
.sidebar.active-sidebar .sidebar-header .corporation-logo-min {
  display: none;
}
.sidebar.active-sidebar .sidebar-menu {
  bottom: 0;
  height: calc(100% - 175px);
  overflow: auto;
  padding-top: 15px;
  position: absolute;
  width: 100%;
}
.sidebar.active-sidebar .sidebar-menu::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.sidebar.active-sidebar .sidebar-menu::-webkit-scrollbar-track {
  background: #51bab1;
}
.sidebar.active-sidebar .sidebar-menu::-webkit-scrollbar-thumb {
  background: #173936;
}
.sidebar.active-sidebar .sidebar-menu .active {
  background-color: #122d2b;
  color: #51bab1;
}
.sidebar.active-sidebar .menu-item > a {
  align-items: center;
  display: flex;
  height: 50px;
  padding: 12.5px;
}
.sidebar.active-sidebar .menu-item > a:hover {
  background-color: #173936;
  color: #42a79e;
}
.sidebar.active-sidebar .menu-item > a[aria-expanded=true] {
  background: #51bab1;
  color: #173936;
}
.sidebar.active-sidebar .menu-item > a[aria-expanded=true]:hover {
  background-color: #173936;
  color: #42a79e;
}
.sidebar.active-sidebar .menu-item > a[data-toggle=collapse] {
  position: relative;
}
.sidebar.active-sidebar .menu-item > a i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  font-size: 1.3em;
}
.sidebar.active-sidebar .menu-item > a span {
  font-size: 0.9em;
  font-weight: 600;
  width: 125px;
  text-align: left;
}
.sidebar.active-sidebar .menu-item > a .dropdown {
  bottom: 0;
  right: -10px;
  height: 20px;
  font-size: 0.85em;
}
.sidebar.active-sidebar .menu-item div {
  background-color: #51bab1;
  margin: 0;
}
.sidebar.active-sidebar .menu-item div .sub-menu-item {
  display: flex;
  justify-content: flex-start;
  font-size: 1.125em;
  height: 40px;
  padding: 0 45px;
}

.sidebar-header {
  align-content: center;
  background-color: #51bab1;
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-right: 15px;
}
.sidebar-header img {
  width: 95%;
}
.sidebar-header .corporation-logo {
  display: none;
}

.sidebar-menu {
  bottom: 0;
  height: calc(100% - 100px);
  overflow: auto;
  padding-top: 15px;
  position: absolute;
  width: 100%;
}
.sidebar-menu::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.sidebar-menu::-webkit-scrollbar-track {
  background: #51bab1;
}
.sidebar-menu::-webkit-scrollbar-thumb {
  background: #173936;
}
.sidebar-menu .active {
  background-color: #122d2b;
  color: #51bab1;
}

.menu-item a {
  display: block;
  height: 75px;
  padding: 12.5px 5px;
  text-align: center;
}
.menu-item a:hover {
  background-color: #122d2b;
  color: #51bab1;
}
.menu-item a[aria-expanded=true] {
  background: #51bab1;
  color: #173936;
}
.menu-item a[aria-expanded=true]:hover {
  background-color: #173936;
  color: #51bab1;
}
.menu-item a[data-toggle=collapse] {
  position: relative;
}
.menu-item a i {
  display: block;
  font-size: 1.5em;
}
.menu-item a span {
  font-size: 0.75em;
  font-weight: 600;
}
.menu-item a .dropdown {
  bottom: 5px;
  font-size: 0.85em;
  top: auto;
}
.menu-item div {
  background-color: #51bab1;
  margin: 0;
}
.menu-item div .sub-menu-item {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  font-size: 0.975em;
  height: 45px;
  justify-content: center;
  padding: 3px 5px;
}

.sidebar-toggle-button {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -20px;
  z-index: 100;
}
.sidebar-toggle-button button {
  background-color: #173936;
  border: 2px solid #51bab1;
  color: #42a79e;
}
.sidebar-toggle-button button:hover {
  background-color: #255e59;
  color: #9ad7d2;
}
.sidebar-toggle-button button:focus {
  outline: none;
  outline-offset: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.content {
  position: absolute;
  height: 100vh;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: calc(100% - 100px);
  z-index: 1;
}
.content.active-sidebar {
  width: calc(100% - 250px);
}
.content.active-sidebar .bg-section-img {
  background-position: 250px 0;
}
.content.active-sidebar .container {
  width: 90%;
}
.content .main-content {
  min-height: 100%;
  position: relative;
}
.content .main-content > main {
  padding-bottom: 360px;
}
.content .main-content .container {
  min-height: 60vh;
  margin: 75px auto;
}
.content .main-content .container p:first-child {
  margin: -25px auto 25px auto;
}
.content .main-content .container > p {
  text-align: justify;
  margin: 25px auto;
}
.content .main-content .container ul {
  list-style-type: square;
}

.corporate-culture ul,
.corporate-culture ol,
.business-model ul,
.business-model ol {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.05em;
  line-height: 1.5em;
  text-align: justify;
}
.corporate-culture ul li > span,
.corporate-culture ol li > span,
.business-model ul li > span,
.business-model ol li > span {
  color: #255e59;
}

.other-img {
  width: 150px;
}
.other-img img {
  width: 80%;
}

.bg-header {
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  height: 100vh;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/header/gorilla-and-human-hands.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/header/gorilla-and-human-hands.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/header/gorilla-and-human-hands.jpg");
  height: 100vh;
}

.company-name,
.slogan {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  mix-blend-mode: screen;
  padding: 10px 25px;
  position: absolute;
}

.company-name {
  font-family: "Orbitron", sans-serif;
  font-size: 37.5px;
  height: 100px;
  right: 20px;
  text-align: center;
  top: 20px;
  width: 365px;
}

.slogan {
  font-size: 35px;
  right: 103.25px;
  top: 100px;
  width: fit-content;
}
.slogan span {
  display: block;
  margin-left: 35px;
}

.section-name,
.path {
  color: #ffffff;
}

.section-name {
  font-size: 3em;
  font-weight: bold;
}

.path {
  font-size: 0.85em;
  margin-left: 2.5px;
  margin-bottom: -10px;
}

.bg-section-img div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  margin-left: 50px;
}
.bg-section-img div .section-name {
  margin-bottom: 25px;
}

.product-section {
  background-size: cover;
  background-position: 100px 0;
  background-attachment: fixed;
  height: 250px;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/product.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/section/product.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/product.jpg");
}

.service-section {
  background-size: cover;
  background-position: 100px 0;
  background-attachment: fixed;
  height: 250px;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/service.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/section/service.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/service.jpg");
}

.business-model-section {
  background-size: cover;
  background-position: 100px 0;
  background-attachment: fixed;
  height: 250px;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../img/section/business-model.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), url("../img/section/business-model.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../img/section/business-model.jpg");
}

.corporate-culture-section {
  background-size: cover;
  background-position: 100px 0;
  background-attachment: fixed;
  height: 250px;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/corporate-culture.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/section/corporate-culture.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/corporate-culture.jpg");
}

.corporate-governance-section {
  background-size: cover;
  background-position: 100px 0;
  background-attachment: fixed;
  height: 250px;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/corporate-governance.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/section/corporate-governance.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/corporate-governance.jpg");
}

.interest-data-section {
  background-size: cover;
  background-position: 100px 0;
  background-attachment: fixed;
  height: 250px;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/interest-data.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/section/interest-data.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/interest-data.jpg");
}

.contact-section {
  background-size: cover;
  background-position: 100px 0;
  background-attachment: fixed;
  height: 250px;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/contact.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/section/contact.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/contact.jpg");
}

.president-box {
  margin: 50px 0;
}

.president-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.president-info img {
  width: 175px;
  height: 175px;
}
.president-info p {
  color: #1a1a1a;
  font-size: 1.15em;
  text-align: center;
}
.president-info .title {
  margin: 10px 0 5px 0;
  color: #122d2b;
  font-size: 1.5em;
}

.president-speech {
  border-left: 3px solid #42a79e;
  display: flex;
  justify-content: center;
  height: 175px;
}
.president-speech .quote {
  margin: 80px 50px;
  display: flex;
  align-items: center;
}

.staff-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.staff-box img {
  height: 125px;
  width: 125px;
}
.staff-box p {
  color: #1a1a1a;
  font-size: 0.85em;
  padding: 0 2em;
  text-align: center;
}
.staff-box p.title {
  padding: 0;
  margin: 10px;
  color: #122d2b;
  font-size: 1.05em;
}

.img-circle {
  border-radius: 50%;
}

.bg-section-img.no-parallax {
  background-attachment: scroll;
  background-position: 0 0;
}

.p-big-text {
  font-size: 3em;
}

.product-card {
  box-shadow: 0 4px 8px 0 #00000033;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: auto;
  max-width: 300px;
  margin-bottom: 55px;
}
.product-card h3 {
  text-align: center;
  color: #255e59;
}
.product-card button {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #255e59;
  border: none;
  color: #ffffff;
  font-size: 18px;
  height: 50px;
  outline: 0;
  padding: 0 12px;
  text-align: center;
  width: 100%;
}
.product-card button:hover {
  opacity: 0.85;
}
.product-card ul {
  list-style-type: square;
  font-size: 0.9em;
}
.product-card .img-container {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-content: center;
}
.product-card .img-container img {
  width: 100%;
}
.product-card .price {
  color: #122d2b;
  font-size: 35px;
  text-align: center;
}
.product-card .description-container {
  min-height: 325px;
  height: auto;
}
.product-card .description {
  padding: 0 20px;
}
.product-card .properties {
  padding: 0 20px;
}

.h-product-card {
  box-shadow: 0 4px 8px 0 #00000033;
  display: flex;
  flex-direction: column;
  margin: 25px auto;
  max-width: 1057.5px;
}
.h-product-card button {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #255e59;
  border: none;
  color: #ffffff;
  font-size: 18px;
  height: 50px;
  outline: 0;
  padding: 0 12px;
  text-align: center;
  width: 100%;
}
.h-product-card button:hover {
  opacity: 0.85;
}
.h-product-card .img-container {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.h-product-card .img-container img {
  width: 95%;
}
.h-product-card h3 {
  color: #255e59;
  margin: 15px 0 35px 0;
  text-align: center;
}
.h-product-card .price {
  color: #122d2b;
  font-size: 35px;
  text-align: center;
}
.h-product-card .description,
.h-product-card .properties {
  padding: 0 25px 0 15px;
}
.h-product-card .properties {
  font-size: 0.975em;
}
.h-product-card .properties ul {
  list-style-type: square;
}

.service-card {
  box-shadow: 0 4px 8px 0 #00000033;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  margin-bottom: 55px;
  width: 400px;
}
.service-card h3 {
  text-align: center;
  color: #255e59;
}
.service-card button {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #255e59;
  border: none;
  color: #ffffff;
  font-size: 18px;
  height: 50px;
  margin-top: 10px;
  outline: 0;
  padding: 0 12px;
  text-align: center;
  width: 100%;
}
.service-card button:hover {
  opacity: 0.85;
}
.service-card .img-container {
  height: 70%;
  width: 70%;
  display: flex;
}
.service-card .img-container img {
  align-self: center;
  width: 100%;
}

footer {
  background-color: #173936;
  position: absolute;
  height: 300px;
  width: 100%;
  bottom: 0;
  border-bottom: 1px solid;
}

.fa-facebook-square,
.fa-twitter,
.fa-linkedin,
.fa-github {
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -ms-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}

.fa-facebook-square:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #55acee;
}

.fa-linkedin:hover {
  color: #e95950;
}

.fa-github:hover {
  color: #cb2027;
}

.side-items a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  align-items: center;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  height: 40px;
  padding: 15px 0;
  position: fixed;
  right: -130px;
  width: 170px;
  z-index: 200;
}
.side-items a, .side-items a:hover,
.side-items a i,
.side-items a span {
  color: #ffffff;
}
.side-items a:hover {
  right: 0;
}
.side-items a i {
  text-align: center;
  width: 40px;
}
.side-items a span {
  padding-left: 5px;
  width: 130px;
}

.accessibility {
  background-color: #555555;
  bottom: 30px;
}
.accessibility i {
  -webkit-transition: transform 0.8s ease-in-out;
  -moz-transition: transform 0.8s ease-in-out;
  -ms-transition: transform 0.8s ease-in-out;
  -o-transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
.accessibility:hover i {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.accesibility-box {
  background-color: #ffffff;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  left: 0px;
  position: fixed;
  width: 100%;
  z-index: 150;
}
.accesibility-box a {
  text-decoration: underline;
}

.accesibility-info {
  display: flex;
  margin-right: 55px;
}
.accesibility-info p {
  font-size: 0.95em;
  height: 100%;
  margin: 0;
  padding: 15px;
  text-align: justify;
}

.accesibility-options {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
.accesibility-options a {
  cursor: pointer;
  font-size: 14px;
  margin: 3px 15px;
}

.accesibility-icon {
  align-items: center;
  display: flex;
  font-size: 75px;
  justify-content: center;
  margin: 15px;
}

@media (max-width: 768px) {
  .sidebar {
    max-width: 250px;
    min-width: 250px;
    text-align: center;
    margin-left: -250px;
  }
  .sidebar .sidebar-header {
    height: 175px;
  }
  .sidebar .sidebar-header img {
    width: 100%;
  }
  .sidebar .sidebar-header .corporation-logo {
    display: block;
  }
  .sidebar .sidebar-header .corporation-logo-min {
    display: none;
  }
  .sidebar .sidebar-menu {
    bottom: 0;
    height: calc(100% - 175px);
    overflow: auto;
    padding-top: 15px;
    position: absolute;
    width: 100%;
  }
  .sidebar .sidebar-menu::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  .sidebar .sidebar-menu::-webkit-scrollbar-track {
    background: #51bab1;
  }
  .sidebar .sidebar-menu::-webkit-scrollbar-thumb {
    background: #173936;
  }
  .sidebar .sidebar-menu .active {
    background-color: #122d2b;
    color: #51bab1;
  }
  .sidebar .menu-item > a {
    align-items: center;
    display: flex;
    height: 50px;
    padding: 12.5px;
  }
  .sidebar .menu-item > a:hover {
    background-color: #173936;
    color: #42a79e;
  }
  .sidebar .menu-item > a[aria-expanded=true] {
    background: #51bab1;
    color: #173936;
  }
  .sidebar .menu-item > a[aria-expanded=true]:hover {
    background-color: #173936;
    color: #42a79e;
  }
  .sidebar .menu-item > a[data-toggle=collapse] {
    position: relative;
  }
  .sidebar .menu-item > a i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    font-size: 1.3em;
  }
  .sidebar .menu-item > a span {
    font-size: 0.9em;
    font-weight: 600;
    width: 125px;
    text-align: left;
  }
  .sidebar .menu-item > a .dropdown {
    bottom: 0;
    right: -10px;
    height: 20px;
    font-size: 0.85em;
  }
  .sidebar .menu-item div {
    background-color: #51bab1;
    margin: 0;
  }
  .sidebar .menu-item div .sub-menu-item {
    display: flex;
    justify-content: flex-start;
    font-size: 1.125em;
    height: 40px;
    padding: 0 45px;
  }
  .sidebar.active-sidebar {
    margin-left: 0;
  }
  .sidebar .sidebar-toggle-button {
    margin-right: -50px;
  }

  .product-section,
.service-section,
.business-model-section,
.corporate-culture-section,
.corporate-governance-section,
.interest-data-section,
.contact-section {
    background-position: 0px -50px;
  }

  .content {
    width: 100%;
  }
  .content .container {
    width: 80%;
  }
  .content .corporate-governance {
    height: 1600px;
  }

  .accesibility-box {
    background-color: #ececec;
  }
}
@media (max-width: 992px) {
  .h-product-card {
    box-shadow: 0 4px 8px 0 #00000033;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: auto;
    max-width: 300px;
    margin-bottom: 25px;
  }
  .h-product-card h3 {
    text-align: center;
    color: #255e59;
  }
  .h-product-card button {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #255e59;
    border: none;
    color: #ffffff;
    font-size: 18px;
    height: 50px;
    outline: 0;
    padding: 0 12px;
    text-align: center;
    width: 100%;
  }
  .h-product-card button:hover {
    opacity: 0.85;
  }
  .h-product-card ul {
    list-style-type: square;
    font-size: 0.9em;
  }
  .h-product-card .img-container {
    width: 100%;
    min-height: 300px;
    display: flex;
    align-content: center;
  }
  .h-product-card .img-container img {
    width: 100%;
  }
  .h-product-card .price {
    color: #122d2b;
    font-size: 35px;
    text-align: center;
  }
  .h-product-card .product-description {
    min-height: 451.75px;
    height: auto;
  }
  .h-product-card .description {
    padding: 0 20px;
  }
  .h-product-card .properties {
    padding: 0 20px;
  }
}
@media (min-width: 576px) {
  .corporate-governance {
    height: 1550px;
  }
}
@media (min-width: 768px) {
  .corporate-governance {
    height: 1400px;
  }
}
@media (min-width: 992px) {
  .corporate-governance {
    height: 1075px;
  }
}
@media (min-width: 1200px) {
  .corporate-governance {
    height: 1050px;
  }
}
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
html::-webkit-scrollbar-track {
  background: #a59f9f;
}
html::-webkit-scrollbar-thumb {
  background: #42a79e;
}

body {
  font-family: "Titillium Web", sans-serif;
  word-wrap: break-word;
  word-break: keep-all;
}

article {
  height: 100vh;
}

h1 {
  color: #173936;
  margin-top: 35px;
}

p {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.05em;
  line-height: 1.5em;
}

a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.btn {
  background-color: #42a79e;
  border: none;
}
.btn:hover {
  background-color: #173936;
}

/*# sourceMappingURL=styles.css.map */
