.sidebar {
  max-width: 100px;
  min-width: 100px;
  background-color: #42a79e;
  color: #122d2b;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 10;
}
.sidebar.active {
  max-width: 250px;
  min-width: 250px;
}
.sidebar.active .sidebar-header {
  height: 175px;
}
.sidebar.active .sidebar-header img {
  width: 100%;
}
.sidebar.active .sidebar-header .corporation-logo {
  display: block;
}
.sidebar.active .sidebar-header .corporation-logo-min {
  display: none;
}
.sidebar.active .menu-item a {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  padding: 12.5px;
}
.sidebar.active .menu-item a:hover {
  background-color: #173936;
  color: #42a79e;
}
.sidebar.active .menu-item a[aria-expanded=true] {
  background: #51bab1;
  color: #173936;
}
.sidebar.active .menu-item a[aria-expanded=true]:hover {
  background-color: #173936;
  color: #42a79e;
}
.sidebar.active .menu-item a[data-toggle=collapse] {
  position: relative;
}
.sidebar.active .menu-item a i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  font-size: 1.3em;
}
.sidebar.active .menu-item a span {
  font-size: 0.9em;
  font-weight: 600;
  width: 125px;
  text-align: left;
}
.sidebar.active .menu-item a .dropdown {
  display: inline-block;
  font-size: 0.85em;
  text-align: right;
  padding-right: 10px;
}
.sidebar.active .menu-item div {
  background-color: #51bab1;
  margin: 0;
}
.sidebar.active .menu-item div .sub-menu-item {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  font-size: 0.975em;
  height: 40px;
  justify-content: center;
  padding: 0;
}

.sidebar-header {
  align-content: center;
  background-color: #51bab1;
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-right: 15px;
}
.sidebar-header img {
  width: 95%;
}
.sidebar-header .corporation-logo {
  display: none;
}

.sidebar-menu {
  height: 100%;
  overflow: auto;
  padding-top: 15px;
}
.sidebar-menu::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.sidebar-menu::-webkit-scrollbar-track {
  background: #51bab1;
}
.sidebar-menu::-webkit-scrollbar-thumb {
  background: #173936;
}

.menu-item a {
  display: block;
  height: 75px;
  padding: 12.5px 5px;
  text-align: center;
}
.menu-item a:hover {
  background-color: #122d2b;
  color: #51bab1;
}
.menu-item a[aria-expanded=true] {
  background: #51bab1;
  color: #173936;
}
.menu-item a[aria-expanded=true]:hover {
  background-color: #173936;
  color: #51bab1;
}
.menu-item a[data-toggle=collapse] {
  position: relative;
}
.menu-item a i {
  display: block;
  font-size: 1.5em;
}
.menu-item a span {
  font-size: 0.75em;
  font-weight: 600;
}
.menu-item a .dropdown {
  bottom: 5px;
  font-size: 0.85em;
  top: auto;
}
.menu-item div {
  background-color: #51bab1;
  margin: 0;
}
.menu-item div .sub-menu-item {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  font-size: 0.975em;
  height: 45px;
  justify-content: center;
  padding: 3px 5px;
}

.sidebar-toggle-button {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -20px;
  z-index: 100;
}
.sidebar-toggle-button button {
  background-color: #173936;
  border: 2px solid #51bab1;
  color: #42a79e;
}
.sidebar-toggle-button button:hover {
  background-color: #255e59;
  color: #9ad7d2;
}
.sidebar-toggle-button button:focus {
  outline: none;
  outline-offset: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.content {
  position: absolute;
  height: 100vh;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: calc(100% - 100px);
  z-index: 1;
}
.content.active {
  width: calc(100% - 250px);
}
.content.active .bg-section-img {
  background-position: 250px 0;
}
.content .main-content {
  min-height: 100%;
  position: relative;
}
.content .main-content > main {
  padding-bottom: 360px;
}

.bg-header {
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  height: 100vh;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/header/gorilla-and-human-hands.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/header/gorilla-and-human-hands.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/header/gorilla-and-human-hands.jpg");
  height: 100vh;
}

.company-name,
.slogan {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  mix-blend-mode: screen;
  padding: 10px 25px;
  position: absolute;
}

.company-name {
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
  height: 100px;
  right: 20px;
  text-align: center;
  top: 20px;
  width: 365px;
}

.slogan {
  font-size: 35px;
  right: 103.25px;
  top: 100px;
  width: fit-content;
}
.slogan span {
  display: block;
  margin-left: 35px;
}

.section-name,
.path {
  color: #ffffff;
}

.section-name {
  font-size: 3em;
  font-weight: bold;
}

.path {
  font-size: 0.85em;
  margin-left: 2.5px;
  margin-bottom: -10px;
}

.bg-section-img div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  margin-left: 50px;
}
.bg-section-img div .section-name {
  margin-bottom: 25px;
}

.product-section {
  background-size: cover;
  background-position: 100px 0;
  background-attachment: fixed;
  height: 40vh;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/product.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/section/product.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/product.jpg");
}

.service-section {
  background-size: cover;
  background-position: 100px 0;
  background-attachment: fixed;
  height: 40vh;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/service.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/section/service.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/service.jpg");
}

.business-model-section {
  background-size: cover;
  background-position: 100px 0;
  background-attachment: fixed;
  height: 40vh;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../img/section/business-model.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), url("../img/section/business-model.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../img/section/business-model.jpg");
}

.corporate-culture-section {
  background-size: cover;
  background-position: 100px 0;
  background-attachment: fixed;
  height: 40vh;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/corporate-culture.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/section/corporate-culture.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/corporate-culture.jpg");
}

.corporate-governance-section {
  background-size: cover;
  background-position: 100px 0;
  background-attachment: fixed;
  height: 40vh;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/corporate-governance.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/section/corporate-governance.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/corporate-governance.jpg");
}

.interest-data-section {
  background-size: cover;
  background-position: 100px 0;
  background-attachment: fixed;
  height: 40vh;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/interest-data.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/section/interest-data.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/interest-data.jpg");
}

.accessibility-section {
  background-size: cover;
  background-position: 70px -290px;
  background-attachment: fixed;
  height: 40vh;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/section/accessibility.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../img/section/accessibility.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/section/accessibility.jpg");
}

.contact-section {
  background-size: cover;
  background-position: 100px 0;
  background-attachment: fixed;
  height: 40vh;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/contact.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/section/contact.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section/contact.jpg");
}

.container {
  min-height: 60vh;
}

footer {
  background-color: #173936;
  position: absolute;
  height: 300px;
  width: 100%;
  bottom: 0;
  border-bottom: 1px solid;
}

.fa-facebook-square,
.fa-twitter,
.fa-linkedin,
.fa-github {
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -ms-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}

.fa-facebook-square:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #55acee;
}

.fa-linkedin:hover {
  color: #e95950;
}

.fa-github:hover {
  color: #cb2027;
}

.side-items a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  align-items: center;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  height: 40px;
  padding: 15px 0;
  position: fixed;
  right: -130px;
  width: 170px;
  z-index: 200;
}
.side-items a, .side-items a:hover,
.side-items a i,
.side-items a span {
  color: #ffffff;
}
.side-items a:hover {
  right: 0;
}
.side-items a i {
  text-align: center;
  width: 40px;
}
.side-items a span {
  padding-left: 5px;
  width: 130px;
}

.accessibility {
  background-color: #555555;
  bottom: 30px;
}
.accessibility i {
  -webkit-transition: transform 0.8s ease-in-out;
  -moz-transition: transform 0.8s ease-in-out;
  -ms-transition: transform 0.8s ease-in-out;
  -o-transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
.accessibility:hover i {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

@media (max-width: 768px) {
  .sidebar {
    max-width: 250px;
    min-width: 250px;
    text-align: center;
    margin-left: -250px;
  }
  .sidebar .sidebar-header {
    height: 175px;
  }
  .sidebar .sidebar-header img {
    width: 100%;
  }
  .sidebar .sidebar-header .corporation-logo {
    display: block;
  }
  .sidebar .sidebar-header .corporation-logo-min {
    display: none;
  }
  .sidebar .menu-item a {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    padding: 12.5px;
  }
  .sidebar .menu-item a:hover {
    background-color: #173936;
    color: #42a79e;
  }
  .sidebar .menu-item a[aria-expanded=true] {
    background: #51bab1;
    color: #173936;
  }
  .sidebar .menu-item a[aria-expanded=true]:hover {
    background-color: #173936;
    color: #42a79e;
  }
  .sidebar .menu-item a[data-toggle=collapse] {
    position: relative;
  }
  .sidebar .menu-item a i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    font-size: 1.3em;
  }
  .sidebar .menu-item a span {
    font-size: 0.9em;
    font-weight: 600;
    width: 125px;
    text-align: left;
  }
  .sidebar .menu-item a .dropdown {
    display: inline-block;
    font-size: 0.85em;
    text-align: right;
    padding-right: 10px;
  }
  .sidebar .menu-item div {
    background-color: #51bab1;
    margin: 0;
  }
  .sidebar .menu-item div .sub-menu-item {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    font-size: 0.975em;
    height: 40px;
    justify-content: center;
    padding: 0;
  }
  .sidebar.active {
    margin-left: 0;
  }

  .sidebar-toggle-button {
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -45px;
    width: 45px;
  }
  .sidebar-toggle-button button {
    cursor: pointer;
    display: block;
    border: 1px solid #51bab1;
    border-radius: 0 45px 45px 0;
    background-color: #42a79e;
    width: 100%;
  }
  .sidebar-toggle-button button i {
    color: #173936;
  }

  .content {
    width: 100%;
  }
  .content.active {
    width: calc(100% - 250px);
  }

  .dropdown-toggle::after {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
    top: auto;
    bottom: 10px;
    right: 50%;
  }
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
html::-webkit-scrollbar-track {
  background: #a59f9f;
}
html::-webkit-scrollbar-thumb {
  background: #42a79e;
}

body {
  font-family: "Titillium Web", sans-serif;
  word-wrap: break-word;
  word-break: keep-all;
}

article {
  height: 100vh;
}

p {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.05em;
  line-height: 1.5em;
}

a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: inherit;
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
