#sidebar {
  max-width: 100px;
  min-width: 100px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #ffd955;
  color: #1a1a1a;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
}
#sidebar .sidebar-header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffc91a;
}
#sidebar .sidebar-header div {
  display: none;
}
#sidebar .sidebar-header img {
  width: 100%;
}
#sidebar .sidebar-menu {
  padding: 20px 0;
}
#sidebar .sidebar-menu div a {
  display: block;
  padding: 10px;
  text-align: center;
}
#sidebar .sidebar-menu div a i {
  margin-right: 0;
  display: block;
  font-size: 1.5em;
  margin-bottom: 5px;
}
#sidebar .sidebar-menu div a span {
  margin-bottom: 5px;
  font-size: 50%;
}
#sidebar .sidebar-menu div a:hover {
  color: #ffffff;
  background: #ffc91a;
}
#sidebar .sidebar-menu.active > a {
  color: #7386d5;
  background: #ffffff;
}
#sidebar .custom-menu {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -40px;
  border-radius: 0 0;
}
#sidebar .dropdown-toggle::after {
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
  top: auto;
  bottom: 10px;
  right: 50%;
}
#sidebar.active {
  max-width: 250px;
  min-width: 250px;
}
#sidebar.active .sidebar-header div {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
  color: #000000;
  font-weight: bold;
}
#sidebar.active .sidebar-header div h3:last-child {
  padding-left: 10px;
}
#sidebar.active .sidebar-header img {
  width: 80%;
}
#sidebar.active .sidebar-menu div a i {
  margin-right: 10px;
}

#content {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  min-height: 100vh;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 250px);
}
#content.active {
  width: calc(100% - 105px);
}

@media (max-width: 768px) {
  #sidebar {
    max-width: 250px;
    min-width: 250px;
    text-align: center;
    margin-left: -250px;
  }
  #sidebar .sidebar-header div {
    display: block;
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
    color: #000000;
    font-weight: bold;
  }
  #sidebar .sidebar-header div h3:last-child {
    padding-left: 10px;
  }
  #sidebar .sidebar-header img {
    width: 80%;
  }
  #sidebar .sidebar-menu div a i {
    margin-right: 10px;
  }
  #sidebar.active {
    margin-left: 0;
  }

  #content {
    width: 100%;
  }
  #content.active {
    width: calc(100% - 250px);
  }

  .dropdown-toggle::after {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
    top: auto;
    bottom: 10px;
    right: 50%;
  }
}
body {
  font-family: "Arimo", sans-serif;
}

footer {
  background-color: #ffc91a;
}

p {
  font-family: "Arimo", sans-serif;
  font-size: 1.05em;
  line-height: 1.5em;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

a[aria-expanded=true] {
  color: #ffffff;
  background: #ffc91a;
}
a[data-toggle=collapse] {
  position: relative;
}

.dropdown-toggle::after {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
}

/*# sourceMappingURL=styles.css.map */
