@use 'variables';
@use 'mixins';

.content {
	// @include mixins.transition(all 0.3s);
	position: absolute;
	height: 100vh;
	margin: 0;
	padding: 0;
	right: 0;
	top: 0;
	width: calc(100% - 100px);
	z-index: 1;

	&.active-sidebar {
		width: calc(100% - 250px);
		
		.bg-section-img {
			background-position: 250px 0;
		}
	}

	.main-content {
		min-height: 100%;
		position: relative;

		& > main {
			padding-bottom: 360px;
		}
	}
}
