@use "variables";
@use 'mixins';

.section-name,
.path {
	color: #ffffff;
}

.section-name {
	font-size: variables.$title-font-size;
	font-weight: bold;
}

.path {
	font-size: variables.$small-font-size + 0.25;
	margin-left: 2.5px;
	margin-bottom: -10px;
}

.bg-section-img div {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-end;
	margin-left: 50px;

	.section-name {
		margin-bottom: 25px;
	}
}

.product-section {
	@include mixins.background-img(cover, 100px 0, fixed, 250px, 0.5, "section/product");
}

.service-section {
	@include mixins.background-img(cover, 100px 0, fixed, 250px, 0.5, "section/service");
}

.business-model-section {
	@include mixins.background-img(cover, 100px 0, fixed, 250px, 0.15, "section/business-model");
}

.corporate-culture-section {
	@include mixins.background-img(cover, 100px 0, fixed, 250px, 0.5, "section/corporate-culture");
}

.corporate-governance-section {
	@include mixins.background-img(cover, 100px 0, fixed, 250px, 0.5, "section/corporate-governance");
}

.interest-data-section {
	@include mixins.background-img(cover, 100px 0, fixed, 250px, 0.5, "section/interest-data");
}

.contact-section {
	@include mixins.background-img(cover, 100px 0, fixed, 250px, 0.5, "section/contact");
}

.president-box {
	margin: 50px 0;
}

.president-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	img {
		width: 175px;
		height: 175px;
	}

	p {
		color: variables.$main-font-color;
		font-size: variables.$normal-font-size + 0.1em;
		text-align: center;
	}

	.title {
		margin: 10px 0 5px 0;
		color: variables.$alt-color;
		font-size: variables.$big-font-size;
	}
}

.president-speech {
	border-left: 3px solid variables.$secondary-color;
	display: flex;
	justify-content: center;
	height: 175px;

	.quote {
		margin: 80px 50px;
		display: flex;
		align-items: center;
	}
}

.staff-box {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 20px auto;

	img {
		height: 125px;
		width: 125px;
	}

	p {
		color: variables.$main-font-color;
		font-size: variables.$small-font-size + 0.25em;
		padding: 0 2em;
		text-align: center;

		&.title {
			padding: 0;
			margin: 10px;
			color: variables.$alt-color;
			font-size: variables.$normal-font-size;
		}
	}
}

.img-circle {
	border-radius: 50%;
}

.bg-section-img.no-parallax {
	background-attachment: scroll;
	background-position: 0 0;
}

.p-big-text {
	font-size: 3em;
}
