@use 'variables';
@use 'mixins';

@media (max-width: 768px) {
	.sidebar {
		@include mixins.extended-sidebar;
		text-align: center;
		margin-left: -250px;
		
		&.active-sidebar {
			margin-left: 0;
		}

		.sidebar-toggle-button {
			margin-right: -50px;
		}
	}

	.product-section,
	.service-section,
	.business-model-section,
	.corporate-culture-section,
	.corporate-governance-section,
	.interest-data-section,
	.contact-section {
		background-position: 0px -50px;
	}

	.content {
		width: 100%;

		.container {
			width: 80%;
		}

		.corporate-governance {
			height: 1600px;
		}
	}

	.accesibility-box {
		background-color: #ececec;
	}
}

@media (max-width: 992px) {
	.h-product-card {
		height: auto;
		margin: auto;
		max-width: 300px;
		margin-bottom: 25px;

		ul {
			font-size: variables.$normal-font-size - 0.15em;
		}

		.img-container {
			min-height: 300px;
			
			img {
				width: 100%;
			}
		}

		.product-description {
			min-height: 466.75px;
			height: auto;
		}

		.description {
			padding: 0 20px;
		}

		.properties {
			padding: 0 20px;
		}
	}
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.corporate-governance {
		height: 1550px;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.corporate-governance {
		height: 1400px;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.corporate-governance {
		height: 1075px;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.corporate-governance {
		height: 1050px;
	}
}
