// ******** Variables
// font-family
$main-font-family: "Titillium Web", sans-serif;
$ape-software-font-family: "Orbitron", sans-serif;

// font-size
$normal-font-size: 1.05em;
$small-font-size: 0.6em;
$big-font-size: 1.5em;
$title-font-size: 3em;
$sidebar-font-size: 0.85em;
$sidebar-icon-size: 1.5em;

// colores
$main-color: #51bab1;
$secondary-color: #42a79e;
$alt-color: #122d2b;
$secondary-alt-color: #173936;
$tertiary-alt-color: #255e59;
$main-font-color: #1a1a1a;
$github-color: #6cc644;
$facebook-color: #3b5998;
$instagram-color: #c32aa3;
$linkedin-color: #007bb5;
$twitter-color: #1da1f2;
$youtube-color: #ff0000;

// colores modo blanco y negro
$main-color-d: #ffffff;
$secondary-color-d: #1a1a1a;
$alt-color-d: #999999;
$secondary-alt-color-d: #404040;
$tertiary-alt-color-d: #333333;
$main-font-color-d: #000000;
