@use 'variables';
@use 'mixins';
@use 'sidebar';
@use 'content';
@use 'header';
@use 'main';
@use 'products';
@use 'services';
@use 'footer';
@use 'side-items';
@use 'accessibility-box';
@use 'themes';
@use 'media-queries';

html {
	@include mixins.custom-scrollbar(8px, 8px, #a59f9f, variables.$secondary-color);
	overflow-y: scroll;
	scroll-behavior: smooth;
}

body {
	font-family: variables.$main-font-family;
	word-wrap: break-word;
	word-break: keep-all;
}

article {
	height: 100vh;
}

h1 {
	color: variables.$secondary-alt-color;
	margin-top: 35px;
}

p {
	font-family: variables.$main-font-family;
	font-size: variables.$normal-font-size;
	line-height: 1.5em;
}

a {
	@include mixins.no-decoration;

	&:hover,
	&:focus {
		@include mixins.no-decoration;
	}
}

button {
	cursor: pointer;
}

.btn {
	background-color: variables.$secondary-color;
	border: none;

	&:hover {
		background-color: variables.$secondary-alt-color;
	}
}

.modal {
	font-family: variables.$main-font-family;
	font-size: variables.$normal-font-size + 0.05em;
	line-height: 1.5em;

	.modal-body {
		& > div {
			width: 90%;
			margin: 0 auto;
			padding: 0 15px;

			div {
				margin: 7.5px auto;
			}
		}
	}
}
