@use 'variables';
@use 'mixins';
@use 'sidebar';
@use 'content';
@use 'header';
@use 'main';
@use 'footer';
@use 'side-items';
@use 'accessibility-box';
@use 'media-queries';

html {
	@include mixins.custom-scrollbar(8px, 8px, #a59f9f, variables.$secondary-color);
	overflow-y: scroll;
	scroll-behavior: smooth;
}

body {
	font-family: variables.$main-font-family;
	word-wrap: break-word;
	word-break: keep-all;
}

article {
	height: 100vh;
}

p {
	font-family: variables.$main-font-family;
	font-size: variables.$normal-font-size;
	line-height: 1.5em;
}

a {
	@include mixins.no-decoration;

	&:hover,
	&:focus {
		@include mixins.no-decoration;
	}
}

button {
	cursor: pointer;
}
