@use 'variables';
@use 'mixins';

#sidebar {
	@include mixins.max-min-width(100px);
	@include mixins.transition(all 0.3s);
	background: variables.$secondary-color;
	color: variables.$secondary-alt-color;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	z-index: 10;

	.sidebar-header {
		background: variables.$main-color;
		padding: 10px;
		padding-right: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;

		div {
			display: none;
		}

		img {
			width: 100%;
		}
	}

	.sidebar-menu {
		@include mixins.custom-scrollbar(3px, 3px, variables.$main-color, variables.$secondary-alt-color);
		height: 100%;
		overflow: auto;

		div {
			margin-top: 10px;
			a {
				display: block;
				padding: 10px;
				text-align: center;

				i {
					display: block;
					font-size: variables.$sidebar-icon-size;
				}

				span {
					font-size: variables.$small-font-size + 0.15em;
					font-weight: bold;
				}

				&:hover {
					color: #ffffff;
					background: variables.$main-color;
				}
			}

			&>div {
				background-color: variables.$main-color;
				color: variables.$secondary-alt-color;
				font-size: variables.$small-font-size;
				margin: 0;

				a:first-child{
					border-bottom: 1px solid transparentize(variables.$secondary-alt-color, 0.95);
				}

				a:last-child{
					border-top: 1px solid variables.$secondary-alt-color;
				}
			}
		}

		&.active > a {
			color: #7386d5;
			background: #ffffff;
		}
	}

	.custom-menu {
		display: inline-block;
		position: absolute;
		top: 20px;
		right: 0;
		margin-right: -20px;
		z-index: 100;

		button {
			background-color: variables.$secondary-alt-color;
			border: 1.75px solid variables.$main-color;
			color: variables.$main-color;

			&:hover {
				background-color: variables.$secondary-color;
				color: variables.$secondary-alt-color;
			}

			&:focus {
				@include mixins.no-focus-button;
			}
		}
	}

	.dropdown-toggle::after {
		@include mixins.transform(translateX(50%));
		top: auto;
		bottom: 5px;
		right: 50%;
	}

	&.active {
		@include mixins.extended-sidebar;
	}
}
