// ******** Variables
// font-family
$main-font-family: "Arimo", sans-serif;
$ape-software-font-family: "Orbitron", sans-serif;

// font-size
$normal-font-size: 1.05em;
$small-font-size:0.5em;
$big-font-size:1.5em;
$sidebar-font-size: 0.85em;

// colores
$main-color: #ffc91a;
$secondary-color: #ffd955;
$secondary-alt-color: #1a1a1a;

// espaciado