@use 'variables';
@use 'mixins';
@use 'sidebar';
@use 'content';
@use 'footer';
@use 'media-queries';

html {
	@include mixins.custom-scrollbar(8px, 8px, #a59f9f, variables.$secondary-color);
}

body {
	font-family: variables.$main-font-family;
	word-wrap: break-word;
	word-break: keep-all;
}

// header {
// 	@include mixins.background-img(cover, center, fixed, 100vh, "software-min");
// 	height: 100vh;
// }

p {
	font-family: variables.$main-font-family;
	font-size: variables.$normal-font-size;
	line-height: 1.5em;
}

a {
	@include mixins.no-decoration;

	&:hover,
	&:focus {
		@include mixins.no-decoration;
	}
}

.fa-facebook-square,
.fa-twitter,
.fa-linkedin,
.fa-github {
	@include mixins.transition(color 0.25s);
}

.fa-facebook-square:hover {
	color: #3b5998;
}

.fa-twitter:hover {
	color: #55acee;
}

.fa-linkedin:hover {
	color: #e95950;
}

.fa-github:hover {
	color: #cb2027;
}
